<div class="main">
  <div class="container">
    
    <h1 id='H1'name='H1'>Let's Hyp</h1>
    <p name='H2'>visualise results</p>

    <input id="s1" name="search" placeholder="Enter search term..." type="text" />
	  <input id="s2" type="submit" value="Submit">

  </div>

<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

