<head>
<title>Hyp</title>
</head>
<body>

<h1>Hyp</h1>
<p>let's visualize</p>

<form action="login_form.asp">
<input type="text" name="FirstName" value="username"><br>
<input type="text" name="LastName" value="password"><br>
<input type="submit" value="login">
<input type="forgot" value="forgot">

</form>
<br><br>


</body>