<head>
<title>Hyp</title>
</head>
<body>

<h1>Hyp</h1>
<p>let's visualize</p>

<form action="profile_form.asp">
 <input type="text" name="FirstName" value="Mickey"><br>
<input type="text" name="LastName" value="Mouse"><br>
<input type="text" name="City" value="city"><br>
<input type="text" name="Country" value="country"><br>
<input type="text" name="Favourites" value="favourites"><br>
<input type="text" name="Interest" value="interest"><br>
<input type="submit" value="Update">
</form>
<br><br>

</body>