<head>
<title>Hyp</title>
</head>
<body>

<h1>Hyp</h1>
<p>let's visualize</p>

<br><br>
<form action="sign_up.asp">
<input type="text" name="FirstName" value="FirstName"><br>
<input type="text" name="LastName" value="LastName"><br>
<input type="text" name="email" value="email id"><br>
<input type="text" name="city" value="city"><br>
<input type="text" name="country" value="country"><br>

<input type="submit" value="Sign Up">
</form>

</body>